<!DOCTYPE html>
<html lang="en" ng-app="servejob">
{{> head}}
<body>
    <img style="width: 20%; margin-left: 40%;" src="http://2.bp.blogspot.com/-9T8VURw5OSY/TnCLt4vAUII/AAAAAAAAAEY/jHhtmNYPGmk/s1600/Need+a+Job+Sign.jpg"/>
    {{> status}}
    {{> loadingPage}}
    <div id="content-page" style="display: none;" ng-view></div>
</body>
<script>
    window.servejob = { "api_route": "{{config.api_address}}" };
</script>
{{> scripts}}
</html>
