<!DOCTYPE html>
<html lang="en" ng-app="servejob">
{{> head}}
<body>
    {{> menutop}}
    {{> status}}
    {{> loadingPage}}
    <div id="content-page" style="display: none;" ng-view></div>
</body>
{{> scripts}}
</html>
