<!DOCTYPE html>
<html lang="en" ng-app="servejob" ng-controller="mainController">
{{> head}}
<body>
    {{> header}}
    {{> search}}
    {{> loadingPage}}
    <div id="content-page" style="display: none;" ng-view></div>
    {{> footer}}
</body>
<script>
    window.servejob = { "api_route": "{{config.api_address}}" };
</script>
{{> scripts}}
</html>
