<footer id="footer" class="footer">
    <div class="container">
        <div class="footer-notes">
          <p class="text-center">ServeJob is a <a href="http://koshoo.com" target="_blank">Koshoo</a> company.</p>
        </div>
    </div>
</footer>
