<head>
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Koshoo">

    <title id="title">ServeJob</title>
    <meta id="meta_description" name="description" content="If you are seeking employment, their place here. No registration, no hassles, no ad, simple and objective.">
    <meta id="meta_title" property="og:title" content="ServeJob" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.servejob.com/" />
    <meta property="og:image" content="http://www.servejob.com/img/apple-touch-icon-144-precomposed.png" />
    <meta id="meta_seo_description" property="og:description" content="If you are seeking employment, their place here. No registration, no hassles, no ad, simple and objective." />
    <meta property="og:site_name" content="ServeJob" />

    <script>
        document.getElementById("title").text = "ServeJob | \{{ seo.pageTitle }}";
        document.getElementById("meta_description").text = "\{{ seo.pageDescription }}";
        document.getElementById("meta_seo_description").text = "\{{ seo.pageDescription }}";
    </script>
    {{> googleanalytics}}
    {{> styles}}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/img/favicon.png">
</head>
