<div class="container container-template" id="loading-page">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="servejob-div-principal">
                <div class="loading-div">
                    <img src="/img/ajax-loader.gif"/>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
