<div class="container container-template" id="loading-page">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="home-div-principal">
                <div class="loading-div">
                    <img src="/img/ajax-loader.gif"/>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
