<div class="div-search">
    <div class="form-group">
        <input type="text" id="search-input" class="form-control" placeholder="Search" ng-click='searchFunction(searchInput)' ng-model="searchInput">
    </div>
</div>
