<div class="div-search">
    <div class="form-group">
        <input type="text" id="search-input" class="form-control" disabled="true" placeholder="Search" onclick="searchInput(this)" onkeyup="searchInput(this)">
    </div>
</div>
