body {
  padding-top: 0px;
}
a {
  color: #323232;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
a:hover,
a:focus {
  color: #db522f;
  text-decoration: none;
}
.container-template {
  padding: 40px 15px;
}

.status-message-top {
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.servejob-div-principal {
    background-color: #FAFAFA;
    border-radius: 10px;
    width: 100%;
    min-height: 300px;

    border: 1px solid #e1e8ed;
    border-radius: 6px 6px 0 0;
    background-clip: padding-box;
    padding: 15px;
}
.servejob-div-space {
    min-height: 20px;
    padding: 0px 10px;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 5px 5px 0 0;
}
.servejob-title {
    color: #66757f;
    font-size: 22px;
    font-weight: 200;
    line-height: 22px;
}
.home-div-job {
    cursor: pointer;
}
.home-div-job:hover {
    background-color: #ECECEC;
}
.job-link, .job-link:visited {
    color: #000;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.job-link:hover,
.job-link:focus {
  color: #db522f;
  text-decoration: none;
}

.loading-div {
    margin-top: 25%;
    text-align: center;
}

.detail-jobDesc {
    white-space: pre-wrap;
}

.servejob-details .servejob-title {
    font-size: 17px;
}

.float-job-title-div {
    height: 60px;
}

.float-titleservejob {
    float: left;
}

.float-buttomservejob {
    float: right;
}

.site-header {
    background-color: #7D2A2A;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align:     center;
}
.footer-notes {
    border-top: 1px dashed #dcdcdc;
    padding: 25px;
}
#content-page {
    margin-top: -30px;
}
@media (max-width: 680px) {
    .img-logo {
        width: 374px;
    }
}
