<div class="container container-template">
    <div class="row" ng-controller="detail">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="servejob-div-principal">
                <div class="servejob-div-space float-job-title-div">
                    <div class="float-titleservejob">
                        <h2 class="servejob-title">{{job.jobTitle}}</h2>
                    </div>
                    <div class="float-buttomservejob">
                        <a href="/#!/" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-chevron-left"></span> Back
                        </a>
                    </div>
                </div>
                <div class="servejob-div-box servejob-details">
                    <div class="servejob-div-space">
                        <h2 class="servejob-title">Creation Date</h2>
                    </div>
                    <div class="servejob-div-space">
                        <div class="row">
                            <div class="col-md-12">{{job.created_on}}</div>
                        </div>
                    </div>
                    <div class="servejob-div-space">
                        <h2 class="servejob-title">Type</h2>
                    </div>
                    <div class="servejob-div-space">
                        <div class="row">
                            <div class="col-md-12">{{job.jobType}}</div>
                        </div>
                    </div>
                    <div class="servejob-div-space">
                        <h2 class="servejob-title">Company Name</h2>
                    </div>
                    <div class="servejob-div-space">
                        <div class="row">
                            <div class="col-md-12">{{job.compName}}</div>
                        </div>
                    </div>
                    <div class="servejob-div-space">
                        <h2 class="servejob-title">Location</h2>
                    </div>
                    <div class="servejob-div-space">
                        <div class="row">
                            <div class="col-md-12">{{job.jobLocation}}</div>
                        </div>
                    </div>
                    <div class="servejob-div-space">
                        <h2 class="servejob-title">Website</h2>
                    </div>
                    <div class="servejob-div-space">
                        <div class="row">
                            <div class="col-md-12"><a ng-href="{{'http://' + job.compWeb}}" target="_blank">{{job.compWeb}}</a></div>
                        </div>
                    </div>
                    <div class="servejob-div-space">
                        <h2 class="servejob-title">Mail</h2>
                    </div>
                    <div class="servejob-div-space">
                        <div class="row">
                            <div class="col-md-12"><a ng-href="{{'mailto:' + job.compMail}}" target="_blank">{{job.compMail}}</a></div>
                        </div>
                    </div>
                    <div class="servejob-div-space">
                        <h2 class="servejob-title">Description</h2>
                    </div>
                    <div class="servejob-div-space">
                        <div class="row">
                            <div class="col-md-12 detail-jobDesc">{{job.jobDesc}}</div>
                        </div>
                    </div>
                    <div class="servejob-div-space">
                        <h2 class="servejob-title">How to Apply</h2>
                    </div>
                    <div class="servejob-div-space">
                        <div class="row">
                            <div class="col-md-12 detail-jobDesc">{{job.howToApply}}</div>
                        </div>
                    </div>
                    <div class="servejob-div-space">
                        <h2 class="servejob-title">Share</h2>
                    </div>
                    <div class="servejob-div-space">
                        <div class="row share-datails-div">
                            <span class='st_facebook_large' displayText='Facebook'></span>
                            <span class='st_twitter_large' displayText='Tweet'></span>
                            <span class='st_linkedin_large' displayText='LinkedIn'></span>
                            <span class='st_googleplus_large' displayText='Google +'></span>
                            <span class='st_email_large' displayText='Email'></span>
                        </div>
                    </div>
                </div>
                <div class="row delete-details-div">
                    <button ng-click="clickDelete()" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<!-- ShareThis -->
