<div class="container container-template">
    <div class="row" ng-controller="detail">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="home-div-principal">
                <div class="home-div-space">
                   <h2 class="home-title">{{job.jobTitle}}</h2>
               </div>
               <div class="home-div-jobs-list">
                        <div class="home-div-space home-div-job">
                            <div class="row">
                                <div class="col-md-12">{{job.jobType}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">{{job.compName}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">{{job.jobLocation}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">{{job.compWeb}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">{{job.compMail}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">{{job.jobDesc}}</div>
                            </div>
                        </div>
                    </a>
                </div>
           </div>
       </div>
       <button ng-click="clickDelete()">tesste</button>
       <div class="col-md-3"></div>
   </div>
</div>
