<div class="container container-template">
    <div class="row" ng-controller="home">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="servejob-div-principal">
                <div class="servejob-div-space float-job-title-div">
                    <div class="float-titleservejob">
                        <h2 class="servejob-title">Jobs</h2>
                    </div>
                    <div class="float-buttomservejob">
                        <a href="/#/newjob" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> New Job
                        </a>
                    </div>
                </div>
                <div class="servejob-div-box" ng-repeat="job in jobs">
                    <a href="/#/job/{{job.permalink}}" class="job-link">
                        <div class="servejob-div-space home-div-job">
                            <div class="row">
                                <div class="col-md-12 jobtitle">
                                    <strong>{{job.jobTitle}}</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-inline">
                                        <li class="{{job.jobType}}"><small>{{job.jobType}}</small></li>
                                        <li><small><strong>-</strong></small></li>
                                        <li class="job-company-name-home"><small>{{job.compName}}</small></li>
                                        <li class="job-created-home">{{job.created_on}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
