<div class="container container-template">
    <div class="row" ng-controller="home">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="home-div-principal">
                <div class="home-div-space">
                     <h2 class="home-title">Detail</h2>
                </div>
                <div class="home-div-jobs-list" ng-repeat="job in jobs">
                    <a href="/#/detail?id={{job._id}}">
                        <div class="home-div-space home-div-job">
                            <div class="row">
                                <div class="col-md-12">{{job.jobTitle}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">{{job.jobType}} at {{job.compName}}</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2">{{job.created_on}}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
